.landing {
  width: 100%;
  height: calc(100vh - 70px);
  // background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url('./assets/images/feast-landing-background.jpg');
  background-size: cover;
}
