.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: $color-primary;
  width: 100%;
  padding: 0 10rem;

  &__logo {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 2rem;
      text-decoration: none;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
    }
    &:hover {
      padding-bottom: 0.3rem;
      border-bottom: 3px solid #fff;
    }
  }
}
